
<<<<<<< HEAD
.bg {
    background: url('img/coins.png') no-repeat top center fixed;
        background-size: 95%;
=======
.bg{
        background: url('img/coins.png') no-repeat top center fixed;
        background-size: 83%;
        /* height: 90%; */
>>>>>>> 12c8054811bc622d93df0b5ab44381b517422e8a
        width: 100%;
    }  
    #slidecontainer {
        width: 100%;
    }
    
    .slider {
        -webkit-appearance: none;
        width: 100%; 
        height: 10px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    
    .slider:hover {
        opacity: 1;
    }
    
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* appearance: none;  */
        width: 23px;
        height: 24px;
        border: 0;
        background: url("img/smile5.png");
        background-size: 100%;
        cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
        width: 23px;
        height: 24px;
        border: 0;
        background: url("img/smile5.png");
        background-size: 100%;
        cursor: pointer;
    }
#appexplanation{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.explanation{
    width: 70%;
    margin: auto;
}



    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      
      width: 33%;
        margin: auto;
    }
    
    .search {
        position: relative;
    }
    #gallerysearch/*[type=text]*/{
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('img/searchpic.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }

      #gallerysearch/*[type=text]*/:focus {
        width: 100%;
      }

      .headername1{
        font-family: 'Archivo Black', sans-serif; font-size: 32px;
    }
    .headername2{
        font-family: 'Pacifico', cursive; font-size: 24px;
    }
    .winner{
        background-color: black;
        border: 7px solid rgb(255, 217, 0);
        padding: 10px;
        border-radius: 25px;
    }
    .winnercontent{
        position: relative;
    }
    .congratulations{
        position: absolute;
        margin: auto;
        top: 35%; 
        color: white;
        font-family: 'Archivo Black', sans-serif; font-size: 32px;

    }