<coin-Header></coin-Header>
<coin-Navbar></coin-Navbar>
<div class="container">
    <div class="page-header">
        <h1>{{childName}} 's Page</h1>
    </div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <legend>Hello, dear {{childName}}! How was your week?</legend>
        </div>
        <!-- Left Side -->
        <div class="col-sm-12">
            <div class="form-group col-sm-6">
                <!--Slider mood-->
                <div id="slidecontainer form-group col-sm-6">
                    <label class="control-label col-sm-4" for="myMood">Your mood:</label>
                    <input type="range" min="0" max="10" value="5" class="slider" id="myMood">
                    <p>Value:
                        <span id="childmood"></span>
                    </p>
                </div>
                <!--Slider health-->
                <div id="slidecontainer form-group col-sm-6">
                    <label class="control-label col-sm-4" for="myhealth">Your health:</label>
                    <input type="range" min="0" max="10" value="7" class="slider" id="myhealth">
                    <p>Value:
                        <span id="childhealth"></span>
                    </p>
                </div>

                <div class="col-sm-12">
                    <label class="control-label col-sm-4" for="achievements">Achievements:</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="achievements">
                            <option ng-repeat="subj in subjects">{{subj}}</option>
                        </select>
                    </div>
                </div>
                <label class="control-label col-sm-4" for="score">Your score:</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="score" ng-model="score">
                </div>
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

            <!-- Rigth Side -->
            <div class="col-sm-6">
                <p>test2</p>
                <label class="control-label col-sm-4" for="achievements">Your Good Deeds:</label>
                <div class="col-sm-8">
                    <select class="form-control" id="goods">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <label class="control-label col-sm-4" for="type">Your help to famely:</label>
                <div class="col-sm-8">
                    <select class="form-control" id="help2famely">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>.<p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare lobortis euismod. Sed felis ante, condimentum at tortor
                    in, lobortis maximus lectus. Nam non efficitur orci. Donec odio tellus, vestibulum sed lectus nec, euismod
                    vestibulum enim. Nullam ultrices ac lorem in gravida. Vivamus ac vestibulum metus, ac rutrum ligula.
                    Donec vulputate elit in aliquet auctor. Integer vitae sapien nibh. Suspendisse blandit condimentum ultricies.
                    Nam dolor nunc, tempor vitae tristique venenatis, semper nec dolor. Morbi scelerisque nunc vitae diam
                    convallis, quis accumsan erat interdum.
                </p>
                <div>
                    <img class="img-responsive center-block" src="css/img/2013Brooklynn.jpg" alt="Lior Picture" width="150" height="200">
                </div>
            </div>
        </div>
    </form>
</div>