<coin-Header></coin-Header>
<coin-Navbar></coin-Navbar>
<div class="container">
    <div class="page-header">
        <h1>{{childName}} 's Page</h1>
    </div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <legend>Hello, dear {{childName}}! How was your week?</legend>
        </div>
        <!-- Left Side -->
        <div class="col-sm-12">
            <div class="form-group col-sm-6">
                <!--Slider mood-->
                <div id="slidecontainer form-group col-sm-6">
                    <label class="control-label col-sm-4" for="myMood">Your mood:</label>
                    <input type="range" min="0" max="10" value={ {childmood}} class="slider" id="myMood">
                    <p>Value:
                        <span id="childmood">{{childmood}}</span>
                    </p>
                </div>
                <!--Slider health-->
                <div id="slidecontainer form-group col-sm-6">
                    <label class="control-label col-sm-4" for="myhealth">Your health:</label>
                    <input type="range" min="0" max="10" value={ {childhealth}} class="slider" id="myhealth">
                    <p>Value:
                        <span id="childhealth">{{childhealth}}</span>
                    </p>
                </div>


                <form class="form-inline" role="form">
                    <fieldset>
                        <legend>Results</legend>
                        <div class="col-sm-6">
                            <label class="control-label" for="achievements">Achievements:</label>
                            <select class="form-control" id="achievements" ng-change="subj_change()" ng-model="selectedLesson">
                                <!-- ng-options="subjects.indexOf(selectedLesson) as selectedLesson for selectedLesson in subjects" -->
                                <option ng-repeat="subj in subjects">{{subj}}</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label" for="score">Your score:</label>
                            <input type="number" class="form-control" id="score" ng-model="score.value">
                        </div>
                        <div class="col-sm-2 ">
                            <p>
                                <br>
                            </p>
                            <button type="button" class="btn btn-primary" ng-click="sub_score()">Submit</button>
                        </div>
                    </fieldset>
                    <div class="col-sm-4">
                        <label class="control-label" for="avg">Your average:</label>
                        <input type="number" class="form-control" id="avg" value={{average}} ng-model="avg.value">
                    </div>

                    <div class="col-sm-12">
                        <p>
                            <br>
                        </p>
                        <button type="button" class="btn btn-primary" ng-click="sendData()">Send</button>
                       
                        <div class="alert alert-success alert-dismissable fade in" ng-show="isSendClose">
                            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>SuccessSend data!</strong> Thanks to send weekly data
                        </div>
                    </div>
                </form>
            </div>


            <!-- Rigth Side -->
            <div class="col-sm-6">
                <label class="control-label col-sm-4" for="goods">Your Good Deeds:</label>
                <div class="col-sm-8">
                    <select class="form-control" id="goods" ng-model="selectedGoods">
                        <option ng-repeat="good in goodDeeds">{{good}}</option>
                    </select>
                </div>
                <label class="control-label col-sm-4" for="type">Your help to famely:</label>
                <div class="col-sm-8">
                    <select class="form-control" id="help2famely" ng-model="selectedHelp">
                        <option ng-repeat="fhelp in helpFamely">{{fhelp}}</option>
                    </select>
                </div>
                <div class="col-sm-1"></div>
                <form class="col-sm-11">
                    <h3>Do you want to tell us something?</h3>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" cols="30" maxlength="150" id="comment" ng-model="tellSome"></textarea>
                    </div>
                    <div>
                        <legend>Add new Picture</legend>
                        <img class="img-responsive center-block" src="css/img/photocamera.png" alt="Lior Picture" width="150" height="200">
                    </div>
                </form>
            </div>
        </div>
    </form>
</div>