<coin-Navbar></coin-Navbar>
{{test}}
<div class="container">
    <div class="page-header">
        <h1>{{childName}} 's Page</h1>
    </div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <legend>{{childName}} 's Status</legend>
        </div>
        {{Child.mood}}
        <!-- Left Side -->
        <div class="col-sm-12">
            <div class="form-group col-sm-6">
                <label class="control-label col-sm-4" for="mood">Your mood:</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="mood" ng-model="mood" value={{childMood}}>

                </div>
                <label class="control-label col-sm-4" for="health">Your health:</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="health" ng-model="health">
                </div>
                <div class="col-sm-12">
                    <label class="control-label col-sm-4" for="achievements">Achievements:</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="achievements">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>

                    <label class="control-label col-sm-4" for="type">Type:</label>
                    <div class="col-sm-8">
                        <select class="form-control" id="type">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <label class="control-label col-sm-4" for="score">Your score:</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="score" ng-model="score">
                </div>
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

            <!-- Rigth Side -->
            <div class="col-sm-6">
                <p>test2</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare lobortis euismod. Sed felis ante, condimentum at tortor
                    in, lobortis maximus lectus. Nam non efficitur orci. Donec odio tellus, vestibulum sed lectus nec, euismod
                    vestibulum enim. Nullam ultrices ac lorem in gravida. Vivamus ac vestibulum metus, ac rutrum ligula.
                    Donec vulputate elit in aliquet auctor. Integer vitae sapien nibh. Suspendisse blandit condimentum ultricies.
                    Nam dolor nunc, tempor vitae tristique venenatis, semper nec dolor. Morbi scelerisque nunc vitae diam
                    convallis, quis accumsan erat interdum.
                </p>
            </div>
        </div>
    </form>
</div>